$color-background-page: #453995;
$color-background-component: #ffffff;
$color-title: #272727;
$color-occupation: #979797;
$color-background-title-percentage: #df595d;
$color-background-percentage: #f8f7f7;
$color-percentage: #909090;
$color-contrast: #746bb0;
